<!-- <div style="text-align:center;" class="print"><img src="images/print_page_logo.png" alt="projecteuler.kr" style="border:none;"></div> -->
{{#if user}}
  {{#if problem.TITLE_KR}}{{ else }}
  <span class="warning">아직 번역이 되지 않은 문제입니다. 가장 먼저 번역해주세요!</span><br><br>
  {{/if}}
  {{#if answer}}{{ else }}
  <span class="warning">아직 정답이 없는 문제입니다. 가장 먼저 답을 제출해주세요!</span><br><br>
  {{/if}}
{{/if}}
<h2>
  {{#if problem.TITLE_KR}}{{ problem.TITLE_KR }}
  {{ else }}{{ problem.TITLE }}
  {{/if}}
</h2>
<div id="problem_info">
  <h3>문제 {{ problem.NUMBER }}
    <!-- <span style="float:right;" class="info noprint">
      <img src="images/icon_info.png" style="width:18px;opacity:0.7;">
      <span style="left:-400px;width:450px;font-size:80%;">Published on Friday, 29th August 2003, 06:00 pm; Solved by 26127;<br>Difficulty rating: 15%</span>
    </span> -->
  </h3>
</div>

<div class="problem_content" role="problem">
  {{#if problem.PROBLEM_KR}} {{{ problem.PROBLEM_KR }}} {{else}} {{{ problem.PROBLEM }}} {{/if}}
</div>
<br>

{{#if user}}
<div style="text-align:center;" class="noprint">
  <form name="form" method="post" action="/submit">
    <table width="400" cellpadding="10" align="center">
      <tbody>
        <tr>
          <td>
            <table>
              <tbody>
                <tr>
                  <td>
                    <input type="text" name="no" maxlength="30" value="{{problem.NUMBER}}" hidden>
                    <div style="text-align:right;">정답:</div>
                  </td>
                  <td style="text-align:left;">
                    <div style="text-align:left;"><input size="20" type="text" name="guess" id="guess" maxlength="30"></div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2"> </td>
                </tr>

                <tr>
                  <td colspan="2">
                    <div style="text-align:center;font-size:80%;">
                      <div class="g-recaptcha" data-sitekey="6LdFrFYUAAAAALBGeDX156Q3l_789dnX7Xyrj0i8" data-callback="enableBtn"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td style="text-align:left;"><input type="submit" value="제출"></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
{{/if}}

<br><br>
