<!-- <div style="text-align:center;" class="print"><img src="images/print_page_logo.png" alt="projecteuler.kr" style="border:none;"></div> -->
<h2>{{ problem.TITLE_KR }}</h2>
<div id="problem_info">
  <h3>문제 {{ problem.NUMBER }}
    <!-- <span style="float:right;" class="info noprint">
      <img src="images/icon_info.png" style="width:18px;opacity:0.7;">
      <span style="left:-400px;width:450px;font-size:80%;">Published on Friday, 29th August 2003, 06:00 pm; Solved by 26127;<br>Difficulty rating: 15%</span>
    </span> -->
  </h3>
</div>

<div class="problem_content" role="problem">
  {{#if problem.PROBLEM_KR}}
    {{{ problem.PROBLEM_KR }}}
  {{else}}
    {{{ problem.PROBLEM }}}
  {{/if}}
</div>
<br><br>
